  nav ul li  a {
    color: #222222;
    transition: 0.3s;
    font-size: 15px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    padding-left: 15px;
    padding-right: 15px;
  }

  h6{
    font-size: 11px;
  }

  button{
    margin: 0px;
    height: 35px;
    color: #fff;
  }


  .active{ 
    .nav-link {
      color: #106eea !important;
    }
    border-bottom: 2px solid #106eea;
  }