<section id="pk_welcome" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-in-down">
        <h1>Welcome To <span>My Portfolio! </span>
        </h1>
        <div class="d-flex mt-4">
            <a href="https://www.youtube.com/watch?v=cg9VyPBHu94" class="venobox btn-watch-video"
                class="btn-get-started scrollto" data-vbtype="video" data-autoplay="true"> Watch Video <i
                    class="icofont-play-alt-2"></i></a>
        </div>
    </div>
</section>
<div id="middle">
    <div class="container ">
        <div class="row ">
            <div class="col-md-3  d-none d-lg-block" data-aos="fade-right">
                <h3>Download Resume </h3>
            </div>
            <div class="ml-auto  d-none d-lg-block" data-aos="fade-left">
                <a href="../../../assets/RAJARSH RESUME.pdf" download>
                    <button type="button" class="btn btn-outline-light"> <i class="fa fa-download"
                            aria-hidden="true"></i> &nbsp;Download Resume</button></a>
            </div>

        </div>
        <div class="d-sm-block d-lg-none">
            <a href="../../../assets/RAJARSH RESUME.pdf" download>
                <button type="button" class="btn btn-outline-light"> <i class="fa fa-download" aria-hidden="true"></i>
                    &nbsp;Download Resume</button></a>
        </div>
    </div>
</div>
<main id="main">
    <!-- ======= About Section ======= -->
    <section class="about " data-aos="fade-up">
        <div class="container">
            <div class="section-title">
                <h2>About</h2>
                <h3>About <span> Me</span></h3>
            </div>
            <div class="row">
                <div class="col-md-4 text-center" data-aos="fade-up">
                    <img width="250px" height="250px" src="../../../assets/my.jpg"
                        class="rounded-circle" alt="Cinque Terre">
                </div>
                <div class="col-md-8 pt-4" data-aos="fade-up">
                    <div>
                        <div>
                            <h2>HELLO, I'M RAJARSH GANGWAR</h2>
                            <h5>FRONT END Developer</h5>
                        </div>
                        <div>
                            <p class="pt-2">Hard working and enthusiastic. Love to learn and keep updated with the
                                latest technologies in the market especially new programming languages and platforms.
                                Passionate coder and specially interested in Web Development technologies.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="services section-bg">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Education</h2>
                <h3> My <span> Qualification</span></h3>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-8 mb-1" data-aos="fade-up">
                    <div class="card item-card card-block">
                        <img class="pk_img" src="../../../assets/lpu1.jpg"
                            alt="Photo of sunset">
                        <h5 class="card-title mt-3 mb-3 text-center">Lovely Professional University</h5>
                        <p class="card-text text-center">Bachelor Of Technology</p>
                    </div>
                </div>
                <!-- <div class="col-md-3 col-sm-6 mb-1" data-aos="fade-up" data-aos-delay="300">
                    <div class="card item-card card-block">
                        <img class="pk_img" src="../../assets/img/img/education/pratap.jpg" alt="Photo of sunset">
                        <h5 class="card-title mt-3 mb-3 text-center">Pratap University</h5>
                        <p class="card-text text-center">Bachelor of Computer Application</p>
                    </div>
                </div> -->
                <div class="col-md-4 col-sm-8 mb-1" data-aos="fade-up" data-aos-delay="400">
                    <div class="card item-card card-block">
                        <img class="pk_img" src="../../../assets/little angels.jpg" alt="Photo of sunset">
                        <h5 class="card-title mt-3 mb-3 text-center">Little Angels School</h5>
                        <p class="card-text text-center">Intermediate</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-8 mb-1" data-aos="fade-up" data-aos-delay="500">
                    <div class="card item-card card-block">
                        <img class="pk_img" src="../../../assets/little2.jpg" alt="Photo of sunset">
                        <h5 class="card-title mt-3 mb-3 text-center">Little Angels School</h5>
                        <p class="card-text text-center">High School</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- work experience -->
    <section class="page-section" data-aos="fade-up">
        <div class="container">
            <div class="section-title">
                <h2>Work Experience</h2>
                <h3>Work <span> Experience</span></h3>
            </div>
            <ul class="timeline">

                <li data-aos="fade-up">
                    <div class="timeline-image"><img class="rounded-circle img-fluid"
                            src="../../../assets/bayes2.jpg" alt="" /></div>
                            <br>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>February 2022 - Present </h4>
                            <h4 class="subheading">Software Engineer</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">I am working as a Angular Developer.</p>
                            <p>Website:-
                                <a href="https://boltzmann.co/">https://boltzmann.co/</a>
                            </p>
                        </div>
                    </div>
                </li>


                <!-- <li class="timeline-inverted" data-aos="fade-up" data-aos-delay="300">
                    <div class="timeline-image"><img class="rounded-circle img-fluid"
                            src="../../../assets/img/img/projectImage/app.png" alt="" /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>August 2021 - October 2021 | 3</h4>
                            <h4 class="subheading">Ace UI Developer at Appiness Interactive Private Limited Bangalore
                            </h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Here I was working as a Ace UI Developer.</p>
                            <p>Website:-
                                <a href="https://www.appinessworld.com/">https://www.appinessworld.com/</a>
                            </p>
                        </div>
                    </div>
                </li>
                <li data-aos="fade-up">
                    <div class="timeline-image"><img class="rounded-circle img-fluid"
                            src="../../../assets/img/img/projectImage/1.png" alt="" /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>November 2019 - May 2021 | 1 year 7 months </h4>
                            <h4 class="subheading">Software Engineer</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Here I was working as a Full Stack Developer.</p>
                            <p>Website:-
                                <a href="http://www.v-labs.ai/">http://www.v-labs.ai/</a>
                            </p>
                        </div>
                    </div>
                </li> -->

                <li class="timeline-inverted" data-aos="fade-up" data-aos-delay="400">
                    <div class="timeline-image bg-primary">
                        <h4>
                            Be Part
                            <br /> Of Our
                            <br /> Story!
                        </h4>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <!-- technical skills -->
    <section class="page-section section-bg" data-aos="fade-up">
        <div class="container">
            <div class="section-title">
                <h2>Skills</h2>
                <h3>Technical <span> Skills</span></h3>
            </div>

            <div class="pk_section_4">
                <div class="container">
                    <div class="row card_mrgin">
                        <div class="col-md-9 col-sm-12 py-1" data-aos="fade-up">
                            <div class="card tab-code-content">
                                <div class="card-header">
                                    <ul class="nav">

                                        <li class="nav-item "
                                            [ngClass]="(this.viewType == 0) ? 'selectedView' : 'unSelectedView'"
                                            (click)=changeView(0)>
                                            JSON
                                        </li>
                                        <li class="nav-item "
                                            [ngClass]="(this.viewType == 1) ? 'selectedView' : 'unSelectedView'"
                                            (click)=changeView(1)>
                                            Java Script
                                        </li>
                                         <li class="nav-item "
                                            [ngClass]="(this.viewType == 2) ? 'selectedView' : 'unSelectedView'"
                                            (click)=changeView(2)>
                                            HTML
                                        </li>
                                        <li class="nav-item "
                                            [ngClass]="(this.viewType == 3) ? 'selectedView' : 'unSelectedView'"
                                            (click)=changeView(3)>
                                            CSS3
                                        </li> 
                                        <li class="nav-item"
                                            [ngClass]="(this.viewType == 4) ? 'selectedView' : 'unSelectedView'"
                                            (click)=changeView(4)>
                                            Angular 2+
                                        </li>
                                         <li class="nav-item "
                                            [ngClass]="(this.viewType == 5) ? 'selectedView' : 'unSelectedView'"
                                            (click)=changeView(5)>
                                            Bootstrap
                                        </li> 
                                    </ul>
                                </div>
                                <div class="card-body">

                                    <!-- for json -->
                                    <div *ngIf="viewType == 0">
                                        <div class="curl-code code_text">
                                            <div><span class="light-gray">{{leftCurly}}</span></div>
                                            <div class="pl-3">
                                                <div> <span class="yellow">"description" </span>: "Getting Started with
                                                    the kat Model",</div>
                                                <div> <span class="yellow">"link" </span>:
                                                    "http://prashant18.herokuapp.com",</div>
                                                <div> <span class="yellow">"link_text" </span>: "See the event",</div>
                                                <div> <span class="yellow">"title" </span>: "kat Meetup Registration",
                                                </div>
                                                <div> <span class="yellow">"activity_type" </span>:
                                                    "eventkat:registration", </div>
                                                <div> <span class="yellow">"key" </span>: "eventkat_attendee_id", </div>
                                                <div> <span class="yellow">"occurred_at" </span>: "2021-06-05",</div>
                                                <div> <span class="yellow">"member" </span>: <span>{{leftCurly}}</span>
                                                </div>
                                                <div> <span class="yellow pl-2"> "github" </span>:
                                                    "github.com/PrashantKat18", </div>
                                                <div> <span class="yellow pl-2">"email" </span>:
                                                    "prashantkat10796@gmail.com" </div>
                                            </div>
                                            <div> <span class="light-gray pl-3">{{rightCurly}}</span> </div>
                                            <div> <span class="light-gray">{{rightCurly}}</span> </div>
                                        </div>
                                    </div>

                                    <!-- for javascript÷ -->
                                    <div *ngIf="viewType == 1">
                                        <div class="curl-code code_text">
                                            <div><span class="blue">function </span> <span class="yellow"> init()
                                                </span> <span class="light-gray"> {{leftCurly}} </span></div>
                                            <div> <span class="blue pl-2">var </span> <span class="sky">name</span>
                                                <span class="blue"> = </span> <span class="orange">'Prashant'</span>
                                                <span class="light-gray">; </span> // name is a local variable created
                                                by init
                                            </div>
                                            <div> <span class="blue pl-2"> function </span> <span
                                                    class="yellow">displayName() </span><span class="light-gray">
                                                    {{leftCurly}}</span> // displayName() is the inner function, a
                                                closure</div>
                                            <div> <span class="yellow pl-2"> alert <span class="light-gray">( <span
                                                            class="blue"> name </span>); </span></span> // use variable
                                                declared in the parent function </div>
                                            <div> <span class="pl-2 light-gray">{{rightCurly}}</span> </div>
                                            <div> <span class="yellow">displayName();</span> </div>
                                            <div> <span class="light-gray">{{rightCurly}}</span> </div>
                                            <div> <span class="yellow">init()</span> <span class="light-gray">;</span>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- for MongoDb -->

                                    <div *ngIf="viewType== 2">
                                        <div class="yellow">{{leftCurly}}</div>
                                        <div class="ml-3">
                                        <div class="sky">
                                            "_id" <span class="orange">: </span><span class="yellow">"54e9b497799u98b" </span>,
                                        </div>
                                        <div class="sky">
                                            "date" <span class="orange">: </span> <span class="yellow">"2021-02-03T00:00:00.000Z"</span>,
                                        </div>
                                        <div class="sky">
                                            "distance" <span class="orange">: </span> <span class="pink">6.05</span>,
                                        </div>
                                        <div class="sky">
                                            "minutes_sedetary" <span class="orange">: </span><span class="pink">654</span>,
                                        </div>
                                        <div class="sky">
                                            "steps" <span class="orange">: </span> <span class="pink"> 8885 </span>
                                        </div>
                                        </div>
                                        <div class="yellow">{{rightCurly}}</div>

                                    </div>

                                    <!-- for express -->
                                    <div *ngIf="viewType == 3">
                                        <div class="pink"> import
                                            <span class="sky"> express </span>
                                            from <span class="orange">'express' ;</span>
                                        </div>

                                        <div class="pink"> import <span class="sky"> {{leftCurly}} ApiClass
                                                {{rightCurly}} </span> from <span
                                                class="orange">'example-shared/apiClass' ;</span>
                                        </div>
                                        <div>
                                           <span class="sky-dark"> const </span> <span class="sky"> app </span> = <span class="yellow">express(); </span>
                                        </div>
                                        <div class="light-gray">
                                                <span class="sky"><span class="sky-dark">app</span></span><span class="yellow">.get</span>(<span class="orange"> '/ ' </span>,(req, <span class="sky">res </span>) <span class="sky-dark">=></span> {{leftCurly}}
                                                <div class="sky"> <span class="sky-dark">let </span>apiClass = new <span class="curl-code">apiClass</span><span class="light-gray"> ( </span><span class="orange"> 'hello' </span><span class="light-gray"> );</span></div>
                                                <div class="sky"> <span class="sky-dark">let </span> apiClassJson <span class="light-gray"> = </span>Json<span class="yellow">.stringify</span><span class="light-gray">(</span> apiClass <span class="light-gray">);</span></div>
                                                <div><span class="sky"><span class="sky-dark">res</span></span><span class="yellow">.send</span>(<span class="orange">`Serialized ApiClass instance </span> <span class="sky"><span class="sky-dark">${{leftCurly}}</span>apiClassJson<span class="sky-dark">{{rightCurly}}</span></span> <span class="orange">`</span>);</div>
                                                <div>{{rightCurly}});</div>
                                            </div>
                                    </div>

                                    <!-- for angular -->
                                    <div *ngIf="viewType == 4">
                                        <div class="pink"> import <span class="light-gray"> {{leftCurly}}
                                            </span><span class="sky"> Component </span> <span
                                                class="light-gray">{{rightCurly}}</span> from <span
                                                class="orange">'@angular/core';</span></div>
                                        <div class="yellow"> <span class="light-gray">@</span>Component<span
                                                class="light-gray"> ( {{leftCurly}}</span></div>
                                        <div class="sky pl-3"> selector: <span class="orange">'app-root'</span><span
                                                class="light-gray">,</span></div>
                                        <div class="sky pl-3"> templateUrl: <span
                                                class="orange">'.app.component.html'</span><span
                                                class="light-gray">,</span></div>
                                        <div class="sky pl-3">styleUrls: <span class="orange">
                                                ['.app.component.css']
                                            </span></div>
                                        <div class="light-gray"> <span>{{rightCurly}}</span> ) </div>
                                        <div class="pink">export <span class="blue">class</span> <span
                                                class="curl-code"> AppComponent </span> <span
                                                class="light-gray">{{leftCurly}}</span></div>
                                        <div class="sky pl-2">title <span class="light-gray"> = </span> <span
                                                class="orange">'Hello World' <span class="light-gray">;</span></span>
                                        </div>
                                        <div class="light-gray"> {{rightCurly}} </div>
                                    </div>

                                    <!-- for node -->
                                    <div *ngIf="viewType == 5">
                                        <div class="curl-code code_text pb-4">
                                            <div> <span class="pink">const </span> <span class="light-gray">fetch
                                                </span> <span class="blue"> = </span> <span class="orange">require
                                                </span> <span class="light-gray"> ( </span> 'node-fetch' <span
                                                    class="light-gray">);</span> </div>
                                            <div><span class="pink">let </span> <span class="light-gray"> url
                                                </span>
                                                <span class="blue"> = </span> 'http://prashant18.herokuapp.com'
                                                <span class="light-gray">;</span>
                                            </div>
                                            <div> <span class="pink"> let </span> <span class="light-gray"> options
                                                </span> = <span>{{leftCurly}}</span></div>
                                            <div> <span class="light-gray pl-2">method:</span> 'POST' <span
                                                    class="light-gray">,</span> </div>
                                            <div> <span class="light-gray pl-2"> headers: </span> {{leftCurly}}
                                            </div>
                                            <div> <span class="light-gray pl-3"> Accept: </span> 'application/json',
                                            </div>
                                            <div class="pl-4">'Content-Type': 'application/json',</div>
                                            <div class="pl-4"> 'Authorization: ' <span class="light-gray">Bearer
                                                    kat-api-key'</span></div>
                                            <div> <span class="light-gray">{{rightCurly}}</span>,</div>
                                            <div> <span class="light-gray">body </span>: <span
                                                    class="yellow">JSON</span>.<span class="orange">stringify</span>
                                                ({{leftCurly}} </div>
                                            <div> <span class="light-gray pl-2">activity </span>: {{leftCurly}}
                                            </div>
                                            <div> <span class="light-gray pl-3">description </span>: 'Getting
                                                Started
                                                with the kat Model', </div>
                                            <div> <span class="light-gray pl-3">link </span>:
                                                'http://prashant18.herokuapp.com', </div>
                                            <div> <span class="light-gray pl-3">link_text </span>: 'See the event',
                                            </div>
                                            <div> <span class="light-gray pl-3">title</span>: 'kat Meetup
                                                Registration',
                                            </div>
                                            <div> <span class="light-gray pl-3">activity_type </span>:
                                                'eventbrite:registration', </div>
                                            <div> <span class="light-gray pl-3">occurred_at </span>: '2020-05-10',
                                            </div>
                                            <div> <span class="light-gray pl-3">member </span>: {{leftCurly}} </div>
                                            <div> <span class="light-gray pl-3">github </span>: 'user-github',
                                            </div>
                                            <div> <span class="light-gray pl-3">email </span>: 'user@email.com'
                                            </div>
                                            <div class="light-gray pl-3"> {{rightCurly}} </div>
                                            <div class="light-gray pl-2"> {{rightCurly}} </div>
                                            <div class="light-gray pl-1"> {{rightCurly}}) </div>
                                            <div class="light-gray pl-0 "> {{rightCurly}};</div>

                                            <div> <span class="orange">fetch </span> <span class="light-gray"> (url,
                                                    options) </span></div>
                                            <div> .<span class="orange">then</span> <span class="light-gray"> (res
                                                    <span class="blue">=></span> res.<span class="orange">json</span>())
                                                </span></div>
                                            <div> .<span class="orange">then</span>(json <span class="blue">=></span>
                                                console.<span class="orange">log</span>(json)); </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-12 py-1" data-aos="fade-up">
                            <div class="card_mrgin">
                                <div class="card tab-code-content">
                                    <div class="card-header text-center">
                                        Other Skills
                                    </div>
                                    <div class="card-body text-center">
                                        <div class="yellow py-2"> Git</div>
                                        <div> Mac OS</div>
                                        <div class="py-2"> Ubntu </div>
                                        <div class="yellow py-2"> Windows </div>
                                        <div class="py-2"> Ms office</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section *ngIf="this.addProvider.isUserLoggedIn">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                            <img class="img-fluid" src="../../../assets/img/img/projectImage/tms.png"
                                                alt="card image">
                                        </p>
                                        <h4 class="card-title">TMS</h4>
                                        <p class="card-text">Temperature Monitoring System</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">TMS</h4>
                                        <p class="card-text">This project is used to check the temperature of person and
                                            show in the dashboards.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                            <img class="img-fluid" src="../../../assets/img/img/projectImage/tms-fr.png"
                                                alt="card image">
                                        </p>
                                        <h4 class="card-title">TMS-FR</h4>
                                        <p class="card-text">Temperature Monitoring System - Face Recoganize</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">TMS-FR</h4>
                                        <p class="card-text">Temperature Monitoring System Face Recoganize is AI based
                                            web application So According to this Application we can recoganize
                                            individual tempreature of a person.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                            <img class="img-fluid" src="../../../assets/img/img/projectImage/pws.png"
                                                alt="card image">
                                        </p>
                                        <h4 class="card-title">PWS</h4>
                                        <p class="card-text">Perimeter Watch System</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">PWS</h4>
                                        <p class="card-text">Perimeter Watch System is AI based web application So
                                            According to this Application we can track object within particular area .
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                            <img class="img-fluid" src="../../../assets/img/img/projectImage/hcms.png"
                                                alt="card image">
                                        </p>
                                        <h4 class="card-title">AMS</h4>
                                        <p class="card-text">Attendance Management System</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">AMS</h4>
                                        <p class="card-text">Attendance management system is AI based web application So
                                            According to this application we can recoganize employee entry and exit time
                                            and also record.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                            <img class="img-fluid" src="../../../assets/img/img/projectImage/sms.png"
                                                alt="card image">
                                        </p>
                                        <h4 class="card-title">SMS</h4>
                                        <p class="card-text">Showroom Management System</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">SMS</h4>
                                        <p class="card-text">Showroom Management System is an application which is only
                                            for the customer.According to this application customer check all details
                                            particular vehicle.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                            <img class="img-fluid" src="../../../assets/img/img/projectImage/hcms.png"
                                                alt="card image">
                                        </p>
                                        <h4 class="card-title">HCMS</h4>
                                        <p class="card-text">Health Care Management System</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">HCMS</h4>
                                        <p class="card-text">This is basic card with image on top, title, description
                                            and button.This is basic card with image on top, title, description and
                                            button.This is basic card with image on top, title, description and button.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= Contact Section ======= -->
    <section class="contact section-bg">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2> Contact</h2>
                <h3>Contact <span>Us</span></h3>
            </div>
            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-6">
                    <div class="info-box mb-4">
                        <i class="fa fa-map-marker"></i>
                        <h3>Our Address</h3>
                        <p> 49,House No-5 , Bhadrappanavara Nivasa,Near Basaveshwara Temple,Nagashettyhalli, Bangalore
                            560094</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="info-box  mb-4">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <h3>Email Us</h3>
                        <p>rajarsh.gangwar.96@gmail.com</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="info-box  mb-4">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <h3>Call Us</h3>
                        <p> +91 7380825958</p>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!--Scroll to top-->
    <div class="for_scroll_button">
        <div [ngClass]="{'show-scroll': showScroll}" (click)="scrollToTop()" class="scroll-to-top">
            <i class="fa fa-arrow-up" style="font-size: 18px;" aria-hidden="true"></i>
        </div>
    </div>

</main>